<div class="container mt-5">
    <a href="/products" class="btn btn-secondary">Back</a>
    <a class="btn btn-outline-primary add-to-cart" data-id="{{record.record_id}}">Add to Cart</a>
    <h1>{{record.record_title}}</h1>
    <p>Price: {{record.price}} €</p>
    <div class="container mt-4 bg-light rounded mb-4 p-2">
        <p>{{record.description}}</p>
    </div>

    {{#each record.image_src}}
        <img 
            src="/images/{{this}}.jpg" class="img-fluid rounded mb-3"
            onerror="this.onerror=null; this.src='/images/placeholder.jpg';"
        >
    {{/each}}    
</div>

<script>
    document.addEventListener("click", (e) => {
        if (e.target.classList.contains("add-to-cart")) {
            const id = e.target.dataset.id;
            const cart = JSON.parse(sessionStorage.getItem("cart")) || {};
            if (cart[id]) {
                cart[id] += 1;
            } else {
                cart[id] = 1;
            }
            sessionStorage.setItem("cart", JSON.stringify(cart));
            updateCartCount();
        }
    });
</script>
